 body{
    background-color: #1D2F2E;
    color: #FFFFFF;
    background-image: url("./images/usaTheme.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    background-size: 100vw 1100vh;
 }

 a{
    text-decoration: none;
    color: #FFFFFF;
 }

 li a {
    color: #FFFFFF;
    text-decoration: none;
}

 li {
    color: #FFFFFF;
    border-bottom: 1px solid #e5e5e5;
}

 li:last-child {
    border-bottom: none;
}

 li:hover {
    background-color: #08003C;
    color: #FFFFFF;
}

iframe{
    position: relative;
    left:100px;
    top: 50px

}

.accordion_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:200px;
    left:100px;
    width: 800px;
    background-color: #900000;
    font-weight:bold;
    position: absolute;

    box-shadow: 0px 8px 16px 0px #08003C;
}

.accordion_item_line{
    width: 800px;
    height: 40px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.loading{
    position: relative;
    left: 50%;
    top: 50%;
}

.StateItem{
    list-style-type: none;

}

#arrow{
    position: relative;
    left: 750px;
    bottom: 25px;
}

#displayIcon {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 100px;
    height:100px;
}

#displayIcon:hover {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 100px;
    height:100px;
    filter: brightness(50%);
}

#displayIconText {
    position: absolute;
    top: 80px;
    left: 40%;
    border-color: #08003C;
}


#returnIcon {
    position: absolute;
    top: 100px;
    left: 10%;
    width: 50px;
    height:50px;
}

#returnIcon:hover{
    position: absolute;
    top: 100px;
    left: 10%;
    width: 50px;
    height:50px;
    filter: brightness(50%);
}

 #title{
    font-size: 50px;
    position: relative;
    top: 0px
}
